h2 {
    padding-left: 5px;
    padding-bottom: 10px;
    border-style: none;
    border-left: 6px solid #ff0033;
    border-bottom: 1px solid #ff0033;
}

ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}